super cool dog info

In [1]:
import pandas as pd
import numpy as np
import geopandas

%matplotlib inline

In [14]:
big_dog_data = pd.read_csv("https://data.wprdc.org/datastore/dump/e16d4ab3-842a-4f39-9ad7-ce5921002280")

big_dog_data.head()

,LicenseType,Breed,Color,DogName,OwnerZip,ExpYear,ValidDate
0,Dog Individual Neutered Male,COCKAPOO,BROWN,CHARLEY,15236,2021,2020-11-30T09:51:38
1,Dog Individual Neutered Male,TAG,WHITE/BLACK/BROWN,BOOMER,15090,2021,2020-11-30T09:55:05
2,Dog Individual Male,American Bully,BROWN,BRUISER,15220,2021,2020-11-30T10:53:39
3,Dog Senior Citizen or Disability Neutered Male,CHIHUAHUA,BLACK,MIDGET,15065,2021,2020-11-30T15:28:45
4,Dog Individual Male,GOLDENDOODLE,BROWN,REX,15237,2021,2020-11-30T15:38:14

i got rid of all the unnecessary columns because they're annoying but also so it's easier to combine with the zipcode dataset

In [29]:
dog_data_1 = big_dog_data.drop(['LicenseType','Breed','Color','ExpYear','ValidDate','DogName'], axis = 1)

dog_data_1.head()

   OwnerZip
0     15236
1     15090
2     15220
3     15065
4     15237

In [42]:
dog_data = dog_data_1.sort_values('OwnerZip').reset_index(drop=True)

dog_data.tail(5)

       OwnerZip
82449     16059
82450     16059
82451     16137
82452     16137
82453     16201

In [103]:
dogs_threshold = lambda x, threshold: x['OwnerZip'].count() > threshold

most_dogs = dog_data.groupby("OwnerZip").filter(dogs_threshold, threshold = 100)

most_dogs['OwnerZip'].value_counts()

15108    3499
15237    3494
15102    2838
15235    2778
15044    2738
         ...
15034     135
15076     130
15015     127
15226     125
15049     116
Name: OwnerZip, Length: 74, dtype: int64

In [130]:
pitt_dogs = most_dogs[48936:80625]

pitt_dogs['OwnerZip'].value_counts()

15237    3494
15235    2778
15236    2451
15239    2185
15227    1960
15241    1806
15202    1481
15205    1434
15221    1421
15228    1392
15229    1347
15238    1229
15209    1198
15243    1136
15216    1115
15234    1058
15215    1024
15220     789
15223     715
15218     713
15214     387
15212     259
15210     192
15226     125
Name: OwnerZip, dtype: int64